# .NET gitignore rules
[Dd]ebug/
[Rr]elease/
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Flutter gitignore rules
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/app/key.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
